*{
  margin: 1px;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    align-items: center;
    margin: 20px;
  }
  
  label {
    margin: 0 10px;
  }
  
  #maze {
    display: grid;
    gap: 2px;
    margin: 20px auto;
    width: fit-content;
  }
  
  .cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    font-weight: normal;
    cursor: pointer;
    position: relative;
  }
  
  .cell span{
    font-size: 12px;
    color: black;
  }

  .cell.empty {
    background-color: #f9f9f9;
  }
  
  .cell.obstacle {
    background-color: #555;
  }
  
  .cell.start {
    background-color: #4caf50;
    color: white;
  }
  
  .cell.destination {
    background-color: #f44336;
    color: white;
  }
  
  .cell.path {
    background-color: #00bcd4;
    color: black;
  }
  
  .cell:hover {
    border: 1px solid #000;
  }

  .instructions {
    display: flex;
    align-items: start;
    margin: 20px auto;
    width: 50%;
  }

  button {
    margin: 5px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }